@import '_colors';
@import '_media-queriess.scss';

%align-center {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: $light;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw-1200px)/2);
    z-index: 10;
    position: relative;

    &_logo {
        color: $dark;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 24px;
        @extend %align-center;
    }

    &-bars {
        opacity: 0;

        @include tablet {
            color: $dark;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2rem;
            cursor: pointer;
        }
    }

    &-menu {
        @extend %align-center;

        margin-right: 25px;
        text-align: center;

        @include tablet {
            display: none;
        }

        .menu-links {
            color: $dark;
            text-decoration: none;
            padding: 0 1rem;
            @extend %align-center;

            &:hover {
                color: $lime;
                transition: all 0.3s ease;
            }
        }

        #button {
            padding: 12px 24px;
            border:none;
            outline: none;
            border-radius: 5px;
            background: $lime;
            margin-left: 16px;
            color: $light;

            &:hover{
                background: $orangeRed;
                transition:  0.4s ;
            }
        }
    }

}