@import '_navbar';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
.hero {
    background-color: $light;

    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        height: 90vh;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding: 24px;

        @include tablet {
            grid-template-columns: 1fr;
            height: 100%;
        }

        &-left {
            width: 100%;
            line-height: 1.2;

            @include tablet {
                padding: 5rem 0;
            }
            @include mobile {
                line-height: 1.5;
            }
        }

        &-left h1 {
            font-size: 4rem;
            color: $lime;

            @include mobile {
                font-size: 1.5rem;
            }
        }

        &-left h2 {
            font-size: 3rem;
            color: $dark;

            @include mobile {
                font-size: 1.2rem;
            }
        }

        &-left p {
            font-size: 2rem;
            margin-top: 1rem;
            color: $dark;
            font-weight: 700;

            @include mobile {
                font-size: 1rem;
            }
        }

        &-right{
            text-align: center;

            & img{
                height: 100%;
                width: 100%;
            }
        }
        
    }

    &-btn {
        font-size: 1rem;
        background-color: $lime;
        cursor: pointer;
        padding: 14px 32px;
        margin-top: 2rem;
        border: none;
        border-radius: 8px;
        position: relative;

        & a {
            text-decoration: none;
            color: $light;
            position: relative;
        }

        &:hover {
            background-color: $orangeRed;
            transition: all 0.3s;
        }
        &:after{
            position: absolute;
            content:'';
            top:0;
            left: 0;
            width: 0;
            height: 100%;
            background: $orangeRed;
            transition:all 0.3s ;
            border-radius: 4px;

        }
    }
}